<header id="header" class="header">
<div class="header-inner">
    <a class="brand" href="/" title="Gå till startsidan">{{ site.name }}</a>

    <ul class="navigation">
        <li><a href="/domains" title="Gå till alla domäner">Domäner</a></li>
        <li><a href="/domains/create.html" title="Skapa din egen väg">Skapa din väg</a></li>
        <li><a href="/domains/overview.html" title="Din profil">Profil</a></li>
        <li><a href="/contact" title="Gå till kontaktsidan">Kontakt</a></li>
    </ul>
</div>
</header>
