/**
 * Print Media Queries
 **/
@media print {
    #header,
    #sidebar,
    .footer,
    .contribute,
    .up,
    form {
        display: none !important;
    }

    body {
        color: Black !important;
    }

    body .content {
        max-width: 100%;
        margin: 4em 3em;
    }

    code {
        border-color: #eeeeee;
        border-radius: 2px;
    }

    .highlight {
        box-shadow: none;
    }

    .highlight .lineno {
        color: #bbbbbb;
        border-right: 1px solid #dddddd;
        padding-left: 0.5em;
        padding-right: 1.1em;
        margin-right: 1em;
    }

    .highlight pre code {
        font-size: 8pt !important;
        padding: 1.2em 0;
    }

    .content a {
        color: #2B7A56 !important;
    }

    .content p,
    .content ul,
    .content ol,
    .content a {
        font-size: 9pt !important;
        text-align: left;
    }

    .highlight,
    .content figure,
    .content p,
    .content ul,
    .content ol {
        margin: 0.8em 0 0.8em 0;
    }

    .content h1 { font-size: 16pt !important; }
    .content h2 { font-size: 14pt !important; }

    .content p.info:before { display: none; }
    .content p.info {
        padding: 10px 10px 10px 20px;
        margin: 1em 1em 1em 1.2em;
        border-left: 2px solid #dddddd;
        box-shadow: none;
        font-size: 8pt !important;
    }
}

@page {
    margin: 4em 3em;

    @bottom {
        content: counter(page) "/" counter(pages);
    }
}

/**
 * Site Media Queries
 **/
@media (max-width: 1400px) {
    .sidebar {
        margin-left: 3em;
    }
    .sidebar .course-name small {
        display: block;
        text-align: center;
    }
    .content {
        margin-left: 21em;
        padding-right: 15px;
    }

    .default .content {
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 1000px) {
    .header-inner {
        max-width: 95%;
    }
    .header .brand {
        position: relative;
        left: 80px;
    }
    .navigation {
        right: 15px;
    }
}

@media (max-width: 900px) {
    .footer {
        margin-top: 2em;
    }
    .footer-inner {
        max-width: 100%;
    }
    .footer .license,
    .footer .fork,
    .footer-links {
        display: block;
        width: 80%;
        margin: 0 auto 1.3em auto;
    }

    .footer-links {
        text-align: center;
        padding-left: 1.6em;
    }

    .footer-links li {
        display: inline-block;
        margin-right: 1em;
    }
    .content table thead th {
        font-size: 0.9em;
    }
    .content table tbody td {
        font-size: 0.7em;
    }
}

@media (max-width: 800px) {
    .header .brand {
        left: 20px;
    }

    .content {
        max-width: 100%;
        padding: 1em 1.4em;
        margin: 1em auto 0 auto;
    }

    .content p,
    .content ul,
    .content ol,
    .content a {
        font-size: 0.9em;
        text-align: left;
    }

    .index .content-list,
    .index .content-list a {
        text-align: center;
    }

    .highlight,
    .content figure,
    .content p,
    .content ul,
    .content ol {
        margin: 0.8em 0 0.8em 0;
    }

    .content h1 {
        font-size: 1.7em;
    }
    .content h2 {
        font-size: 1.3em;
    }

    .highlight pre code {
        font-size: 0.9em;
        padding: 1.2em 0;
    }

    .up {
        display: none !important;
    }

    .sidebar {
        margin: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        max-width: 100%;
        background: white;
        border-top: 1px solid #eee;
        box-shadow: 0 2px 2px rgba(0,0,0,0.1);
        z-index: 100;
    }

    .sidebar .course-name small {
        display: inline;
        text-align: left;
    }

    .contribute {
        margin-top: 3em;
        margin-left: 0;
        padding-top: 1em;
    }

    .sidebar .course-name,
    .sidebar .course-overview,
    .sidebar .blog-header,
    .sidebar .blog-overview {
        display: none;
    }

    .sidebar.toggle .course-name,
    .sidebar.toggle .course-overview,
    .sidebar.toggle .blog-header,
    .sidebar.toggle .blog-overview {
        display: block;
    }

    .course-overview-element,
    .blog-overview-element {
        cursor: auto;
    }

    .course-overview-element:hover .expand,
    .course-overview-element.toggle .expand,
    .course-overview-element .expand {
        display: none;
    }

    .course-overview,
    .blog-overview {
        padding-left: 0;
    }
    
    .course-overview-submenu,
    .blog-overview-submenu {
        display: block;
        padding-left: 0;
    }

    .course-name,
    .blog-header {
        margin-top: 0.2em;
    }

    .toggle-sidebar {
        display: block;
    }

    .members h2 {
	text-align: center;
    }

    .members .member-list {
	padding-left: 0;
	text-align: center;
	list-style: none;
    }
}

@media (max-width: 650px) {
    .index .col-6 {
        float: none;
        width: 97%;
        padding: 0;
        margin: 1.5em auto;
    }
}

/* TODO: research a better solution for tables on smaller devices. */
@media (max-width: 500px) {
    .content table thead th,
    .content table tbody td {
        display: block;
        text-align: left !important;
    }
}

@media (max-width: 370px) {
    .header .brand,
    .header .navigation {
        position: static;
        display: block;
        text-align: center;
    }
    .header .brand {
        margin-bottom: 1em;
    }
}
