---
layout: default
title: Domäner
markdown: 0
---

<h1 class="course-list-header">Domäner</h1>

<div class="row">

    <ul class="content-list">
        {% for domain in site.data.domains %}
        <li>
            <a href="/domains/{{ domain.id }}">{{ domain.name }}</a>
            <ul>
                {% for module in site.data.modules[domain.id].modules %}
                <li>
                    <a href="/domains/{{ domain.id }}/modules/{{ module.id }}.html">{{ module.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    
</div>
