---
layout: default
title: Domäner
markdown: 0
---

<h1 class="course-list-header">Områden</h1>

<div class="row">
    <ul id="domains-list">
        {% for domain_hash in site.data.domains %}
        {% assign domain = domain_hash[1] %}
        <li class="domain">
            <a class="domain-link" href="/domains/{{ domain.id }}">{{ domain.name }}</a>
            <ul class="modules">
                {% for module_hash in site.data.modules %}
                {% assign module = module_hash[1] %}
                {% if module.domain == domain.id %}
                <li class="module">
                    <a class="module-link" href="/domains/{{ module.domain }}/modules/{{ module.id }}.html">{{ module.name }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
