---
layout: domain
---

<h1 class="course-list-header">Områden</h1>

<div class="row">
    <ul id="domains-list">
        {% for i in (1..site.data.domains.size) %}
        {% capture idx %}D0{{ i }}{% endcapture %}
        {% assign domain = site.data.domains[idx] %}
        <li class="domain">
            <a class="domain-link" href="/domains/{{ domain.id }}">{{ domain.name }}</a>
            <ul class="modules">
                {% for j in (1..site.data.modules.size) %}
                {% capture jdx %}M{{ j }}{% endcapture %}
                {% assign module = site.data.modules[jdx] %}
                {% if module.domain == domain.id %}
                <li class="module">
                    <a class="module-link" href="/domains/{{ module.domain }}/modules/{{ module.id }}.html">{{ module.name }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
